<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main.html}">
<div layout:fragment="siteContent">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-12">
                <h5 class="text-center text-danger" th:if="${!zayavka.getHandled()}">*** Новая необработанная
                    заявка ***</h5>
                <h5 class="text-center text-success" th:if="${zayavka.getHandled()}">Обработанная заявка</h5>
                <form action="/delete" method="post" style="min-width: 670px; margin: 0 auto;">
                    <div class="row">
                        <div class="col-12">
                            <label>ФИО :</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="text" class="form-control" name="request_name"
                                   th:value="${zayavka.getUserName()}"
                                   readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label>Курс:</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input readonly
                                   th:value="${zayavka.getCourseName().getName() + ' - ' + zayavka.getCourseName().getPrice() + ' USD.'}"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label>Телефон:</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="text" class="form-control" th:value="${zayavka.getPhone()}" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label>Комментрии :</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <textarea class="form-control" rows="5"
                                      readonly
                                      th:text="${zayavka.getCommentary()}">
                            </textarea>
                        </div>
                    </div>
                    <input type="hidden" name="handle" th:value="${zayavka.getHandled()}">
                    <input type="hidden" name="idshka" th:value="${zayavka.getId()}">
                    <button type="submit" class="btn mt-1 btn-danger">Удалить заявку
                    </button>
                </form>
                <table class="table mt-2" th:if="${zayavka.getOperatorsList()!=null && zayavka.getOperatorsList().size() > 0}">
                    <form th:action="@{'/delete-operator'}" method="post">
                    <thead>
                    <input type="hidden" name="idshka" th:value="${zayavka.getId()}">
                    <tr>
                        <th>Удалить :</th>
                        <th>Имя:</th>
                        <th>Фамилия:</th>
                        <th>Департамент:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each ="it : ${zayavka.getOperatorsList()}">
                        <td><input type="checkbox" name="operator_id" th:value="${it.getId()}"></td>
                        <td th:text ="${it.getName()}"></td>
                        <td th:text ="${it.getSurname()}"></td>
                        <td th:text ="${it.getDepartment()}"></td>
                    </tr>
                    </tbody>
                        <button class="btn btn-danger mt-2" type="submit" th:if="${zayavka.getOperatorsList()!=null && zayavka.getOperatorsList().size() > 0}">Удалить оператора</button>
                    </form>
                </table>
                <a type="button" th:if="${!zayavka.getHandled()}" class="btn btn-success mt-1" data-bs-toggle="modal" data-bs-target="#editRequest">
                    Обработать заявку
                </a>
                <div class="modal fade" id="editRequest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form action="/change" method="post">
                                <input type="hidden" name="idshka" th:value="${zayavka.getId()}">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5">Выберите оператора</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <table class="table mt-2">
                                        <thead>
                                        <tr>
                                            <th>Выбрать :</th>
                                            <th>Имя:</th>
                                            <th>Фамилия:</th>
                                            <th>Департамент:</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each ="it : ${operatori}">
                                            <td><input type="checkbox" name="operator_id" th:value="${it.getId()}"></td>
                                            <td th:text ="${it.getName()}"></td>
                                            <td th:text ="${it.getSurname()}"></td>
                                            <td th:text ="${it.getDepartment()}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                    <button type="submit" class="btn btn-danger">Назначить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>